{{- $dot := . }}
{{ if $dot.Values.appviewx.create -}}
{{- range .Values.appviewx.appname }}
{{- $appname_port_version := split ":" . }}
{{- range $key, $value := $dot.Values.common.namespace }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ $appname_port_version._0 }}
  name: {{ $appname_port_version._0 }}
  namespace: {{ $value }}
spec:
  ports:
  - name: web
    port: {{ $appname_port_version._1 }}
    protocol: TCP
    targetPort: {{ $appname_port_version._2 }}
  - name: websocket
    port: {{ $dot.Values.appviewx.websocket }}
    protocol: TCP
    targetPort: {{ $dot.Values.appviewx.websocket }}
  selector:
    app: {{ $appname_port_version._0 }}
  type: {{ $appname_port_version._3 }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ $appname_port_version._0 }}
  name: {{ $appname_port_version._0 }}
  namespace: {{ $value }}
spec:
  replicas: {{$dot.Values.appviewx.replicas}}
  selector:
    matchLabels:
      app: {{ $appname_port_version._0 }}
  template:
    metadata:
      labels:
        app: {{ $appname_port_version._0 }}
      annotations:
        timestamp: "{{ $dot.Values.timestamp }}"
        kubernetes.io/ingress.class: nginx
        nginx.ingress.kubernetes.io/service-upstream: "true"
    spec:
      volumes:
      - name: logs-pv-storage
        persistentVolumeClaim:
          claimName: logs-pv-claim
      - name: avx-properties-path
        configMap:
          name: {{ $dot.Values.common.config }}
          items:
          - key: appviewx.properties
            path: appviewx.properties
      containers:
      - image: {{ $dot.Values.image.registry }}/{{ $dot.Values.image.repository }}:{{ $dot.Values.image.tag }}  
        imagePullPolicy: IfNotPresent
        envFrom:
        # The ConfigMap we want to use
        - configMapRef:
            name: {{ $dot.Values.common.config }}
        - configMapRef:
            name: {{ $dot.Values.appviewx.moduleconfig }}
        name: {{ $appname_port_version._0 }}
        command: ["/bin/sh","-c"]
        args: ["useradd -u {{ $dot.Values.appviewx.installation_user_id }} {{ $dot.Values.appviewx.installation_user }} \
                  && chmod +x /appviewx/{{ $appname_port_version._0 | replace "-" "_" }}/avx_web \
                  && chmod -R 777 ${DEPENDENCY_PATH}/logs/ \
                  && su  {{ $dot.Values.appviewx.installation_user }} -s /bin/bash -c \"/appviewx/{{ $appname_port_version._0 | replace "-" "_" }}/avx_web -p ${DEPENDENCY_PATH}/properties/appviewx.properties -d production > ${DEPENDENCY_PATH}/logs/web_start.log 2>&1 \" "]
        resources:
          requests:
            memory: {{ $dot.Values.appviewx.memoryRequest }}
        volumeMounts:
        - mountPath: "{{ $dot.Values.appviewx.mountpath }}/logs"
          name: logs-pv-storage
        - name: avx-properties-path
          mountPath: /appviewx/dependencies/properties/appviewx.properties
          subPath: appviewx.properties
      restartPolicy: Always

{{- end }}
{{- end }}
{{ end -}}
